.content-container
    margin-top: 0px

@media (min-width: 768px) and (max-width: 1300px)
    .content-container
        margin-top: 94px

@media (min-width: 320px) and (max-width: 767px)
    .content-container
        margin-top: 94px