.counter
    margin-top: 160px
    margin-bottom: 100px
    height: 256px
    background: url("../img/counter-bg.jpg") no-repeat
    background-position: center center
    background-size: cover
    .counter-wrapper
        max-width: 900px
        margin: 0 auto
        position: relative
        .counter-man
            position: absolute
            top: -69px
            left: 0px
            width: 499px
            height: 325px
            background: url("../img/counter-man.png") no-repeat
            background-position: center center